<header class="header">
  <div class="header__container">
    <div class="header__logo-container">
      <img src="logGifs.png" alt="logo" class="header__logo" />
      <nav>
        <ul class="header__nav-list">
          <li><a href="#" class="header__nav-link">Reactions</a></li>
          <li><a href="#" class="header__nav-link">Entertainment</a></li>
          <li><a href="#" class="header__nav-link">Sports</a></li>
          <li><a href="#" class="header__nav-link">Stickers</a></li>
          <li><a href="#" class="header__nav-link">Artists</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
